.main-btn {
    margin-top: .75rem;
    margin-bottom: .75rem;
    width: 100%;
    border-radius: 9999px;
    background-color:  black;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color:  #fff
 
}

.rgis{

    margin-top: 5% !important ;


}